# Default ignored files
/shelf/
.idea/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Projects\MMT\PGen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

